.jump-link {
    margin: 5px 0;
    padding: 0;
    position: relative;
}

.jump-link a {
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0;
    padding: 0 10px 0 14px;
    background: #1b6de0;
    background: transparent;
    color: rgba(0,0,0,0.3);
    text-decoration: none; 
    font-size: 48px;
    font-family: Helvetica, Verdana, "sans-serif";
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
} 

#back {
  /*border-radius: 0 10px 10px 0;*/
  /*box-shadow: 1px 1px 1px 1px rgba(255,255,255,0.2);*/
}

#forward {
  /*border-radius: 10px 0 0 10px;*/
}

.jump-link a:hover {
    color: rgba(237, 99, 0, 1);
}

.jump-link a:hover:after {
    /*border-color: transparent transparent transparent #555;*/
}

.left {
  float: left;
}

.orange {
  color: rgba(237, 99, 0, 0.5);
}

#title {
  color: rgba(0,0,0,0.3);
  font-size: 64px;
  font-family: Helvetica, Verdana, "sans-serif";
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

/*.left a:after {
  float: left;
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-color: transparent #1b6de0 transparent transparent;
  border-style: solid;
  border-width: 20px 20px 20px 0;
}*/

.right {
  float: right;
}
/*.right a:after {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #0ac92b;
  border-style: solid;
  border-width: 20px 0 20px 20px;
}*/

#nav {
  height: 100px;
}
